<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>

    <br/>
    <strong>Author:</strong>
    <%= book.author %>

    <br/>
    <strong>Price:</strong>
    <%= book.price %>

    <br/>
    <strong>Publication Date:</strong>
    <%= book.date %>
  </p>

</div>
